@import "../../../variables";

.uae-global-row{
    width: 100%;

.uae-global {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
    background: url(../../../assets/images/map.svg) no-repeat center center;
    padding: 100px 0;
    h3 {
        font-size: $clamp-50-25;
        color: $white-color;
        font-weight: 600;
        line-height: $clamp-60-30;
    }
    p {
        font-size: $clamp-16-14;
        color: $white-color;
    }
}
}