<section class="profile-info">
    <div class="container">
        <div class="profile-info-row">
            <div class="profile-icon">
                <img src="../../../assets/images/profile-icon-1.svg" alt="">
            </div>
            <div class="profile-right">

                <h2>Reserve your <br>
                    FBOXX user name</h2>

                <div class="profile-row">

                    <mat-form-field>
                        <mat-label>Preferred ID</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <div class="info-msg">
                        <p>Terms : Your user ID should be made using your name if it is a personal account / if it is a
                            company account, you may use your company name. In either of the cases, the name used should
                            be authentic <a>KNOW MORE</a></p>
                    </div>
                    <mat-form-field>
                        <mat-label>Account type</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select>
                            <mat-option value="one">First option</mat-option>
                            <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>

                   


                </div>


            </div>
        </div>
    </div>
</section>