<section class="home_about">
    <div class="container">
       
        <div class="about-content">
            <div class="ab_left">
               <div class="abtext">
                <h2>What is FBOXX</h2>
                <h3>Unparalleled global platform where cherished moments shall be shared extensively which in turn facilitate the building of cross-cultural communities across the universe.</h3>
               </div>
          <div class="imgbox">
            <div class="video-box">


              <video src="../../../assets/videos/video-1.mp4" type="video/mp4" autoplay='true' loop muted class="video"></video>


            </div>
            <div class="img-box">
                <img src="assets/images/abt-1.svg" alt="">
            </div>
          </div>
           
            </div>

            <div class="ab_right">
                <!-- <div class="rimgbox"><img src="assets/images/abt-2.svg" alt=""></div> -->

                <div class="rimgbox">
                    <div class="video-box">
            
                      <video src="../../../assets/videos/video-2.mp4" type="video/mp4" autoplay='true' loop muted class="video"></video>

                    </div>
                    <div class="img-box">
                        <img src="assets/images/abt-2.svg" alt="">
                    </div>
                  </div>


                <div class="abtext">
                <h4>Our mission is to spread novelties and bind together communities who crave to experience and explore what is new to the world.</h4>
            </div>
        </div>
        </div>
    </div>
</section>
