@import "../../../../../src/variables";

.footer_section{
    width: 100%;
    padding: 45px 0 85px 0;
    @media screen and (max-width:700px) {
        padding: 45px 0;
    }
    .footer_row{
        width: 100%;
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            @media screen and (max-width:700px) {
               flex-wrap: wrap;
               gap: 30px;
            }
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    font-size: $clamp-16-14;
                    color: $white-color;
                    &:hover{
                        color: $yellow-color;
                    }
                }
            }
        }
    }
}