<section class="profile-info">
    <div class="container">
        <div class="profile-info-row">
            <div class="profile-icon">
                <img src="../../../assets/images/profile-icon-2.svg" alt="">
            </div>
            <div class="profile-right">

                <h2>Complete your<br>
                    information</h2>

                <div class="profile-row">

                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input matInput>
                    </mat-form-field>


                </div>


            </div>
        </div>
    </div>
</section>