<div class="famous-profiles-row">
    <div class="container">
        <div class="profiles-row">
       <h3>Famous Profiles</h3>
       <div class="pro-outer-row">
       <ul class="profiles-list">
        <li>
            <span class="user_profile"></span>
            <h5>Profile Name</h5>
        </li>
        <li>
            <span class="user_profile"></span>
            <h5>Profile Name</h5>
        </li>
        <li>
            <span class="user_profile"></span>
            <h5>Profile Name</h5>
        </li>
        <li>
            <span class="user_profile"></span>
            <h5>Profile Name</h5>
        </li>
        <li>
            <span class="user_profile"></span>
            <h5>Profile Name</h5>
        </li>
        <li>
            <span class="user_profile"></span>
            <h5>Profile Name</h5>
        </li>
       </ul>
    </div>
    </div>
    </div>
</div>
