<section class="profile-pic-info">
    <div class="container">
        <div class="profile-pic-info-row">
            <div class="profile-pic-icon">
                <svg width="366" height="312" viewBox="0 0 366 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M47.875 144.207C21.4811 117.813 21.4811 75.0203 47.875 48.6265C74.2688 22.2327 117.062 22.2327 143.455 48.6265C169.849 75.0203 169.849 117.813 143.455 144.207C117.062 170.601 74.2688 170.601 47.875 144.207Z" fill="#00A9B5"/>
                    <path d="M222.545 215.879C196.151 189.485 196.151 146.692 222.545 120.298C248.938 93.9046 291.731 93.9046 318.125 120.298C344.519 146.692 344.519 189.485 318.125 215.879C291.731 242.273 248.938 242.273 222.545 215.879Z" fill="#FF7410"/>
                    <path d="M222.264 311.163L222.263 215.584L222.263 120.003L317.845 215.582L222.264 311.163Z" fill="#3A089C"/>
                    <path d="M222.264 120.003L222.266 215.582L222.266 311.162L126.684 215.583L222.264 120.003Z" fill="#E70000"/>
                    </svg>
                    
            </div>
            <div class="profile-pic-right">

                <h2>Upload your<br>
                    Profile Photo</h2>

                <div class="profile-pic-row">

              
                  <div class="uesr-profile-pic-row">
                    <div class="profie-photo">
                        <img src="../../../assets/images/user-profile-pic.png" alt="">
                    </div>
                    <div class="profie-photo-upload">
                        <a class="photo-link">Upload Photo <span><svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.5 11.5L6 6L0.5 0.5" stroke="white"/>
                            </svg>
                            </span></a>

                            <a class="photo-link">Take Photo <span>
                                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.5 11.5L6 6L0.5 0.5" stroke="white"/>
                                    </svg>
                                    
                                </span></a>
                    </div>
    
                  </div>

                </div>


            </div>
        </div>
    </div>
</section>