<section class="benefits_row">
    <div class="container">

        <div class="benefits_section">

            <div class="benefits_box">
                <div class="benefits_cont">
                    <div class="benefits_text">
                        <h3>Your name defines<br>your identity.</h3>
                        <p>Reserve your username before you miss it. Your username should be authentic and should not
                            offend moral, ethical, political and religious values.</p>
                    </div>
                    <div class="img-row">
                        <img src="assets/images/Identity.gif" alt="">
                    </div>
                </div>

                <div class="benefits_cont">
                    <div class="img-row">
                        <img src="assets/images/Community.gif" alt="">
                    </div>
                    <div class="benefits_text">
                        <h3>Become a part of the<br>
                            FBOXX community</h3>
                        <p>Highly rewarding experience is assured by providing a wide exposure to a world of novelties
                            that is tailored to suit your tastes.</p>
                    </div>
                </div>


            </div>

            <div class="easy_steps">

                <h3>4 easy Steps</h3>
                <div class="steper_row">
                    <nav class="stepper">
                        <ul class="stepper__list">
                            <li class="stepper__list__item stepper__list__item--pending">
                                <span class="stepper_box"> 01 </span>
                                <span class="stepper__list__title">Find the User ID<br> you like</span>
                            </li>
                            <li class="stepper__list__item stepper__list__item--pending">
                                <span class="stepper_box"> 02 </span>
                                <span class="stepper__list__title">Complete your<br> information</span>
                            </li>
                            <li class="stepper__list__item stepper__list__item--pending">
                                <span class="stepper_box"> 03 </span>
                                <span class="stepper__list__title">Verify with<br> OTP </span>
                            </li>
                            <li class="stepper__list__item stepper__list__item--pending">
                                <span class="stepper_box"> 04 </span>
                                <span class="stepper__list__title">Done! Expect<br> confirmation.</span>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>

            <div class="btm_steps">
                <h3>For the initial 25,000 user registrations</h3>

                <div class="btm_steps_box">

                    <div class="steps_box">
                        <div class="left">
                            <h3>10000 <br> Planet F</h3>
                            <p>Reward Points</p>
                        </div>
                        <div class="right">
                            <img src="assets/images/gp-2.svg" alt="">
                        </div>
                    </div>

                    <div class="steps_box">
                        <div class="left">
                            <h3>FBOXX<br> Collectibles</h3>
                            <p>First Edition</p>
                        </div>
                        <div class="right">
                            <img src="assets/images/gp-1.svg" alt="">
                        </div>
                    </div>


                </div>

            </div>

          


        </div>
    </div>
</section>