
// COLOR
$black-color : #000;
$white-color : #fff;
$yellow-color : #FFDD15;

// FONT SIZE
$clamp-120-50 : clamp(3.125rem, 0rem + 10vw, 7.5rem);
$clamp-100-50 : clamp(3.125rem, 0.8929rem + 7.1429vw, 6.25rem);
$clamp-96-24 : clamp(2.9375rem, -7.7813rem + 24.5vw, 6rem);
$clamp-70-40 : clamp(2.5rem, 1.1607rem + 4.2857vw, 4.375rem);
$clamp-60-30 : clamp(1.875rem, 0.5357rem + 4.2857vw, 3.75rem);
$clamp-50-25 : clamp(1.5625rem, 0.4464rem + 3.5714vw, 3.125rem);
$clamp-40-24 : clamp(1.5rem, 0.7857rem + 2.2857vw, 2.5rem);
$clamp-30-24 : clamp(1.5rem, 1.2321rem + 0.8571vw, 1.875rem);
$clamp-20-17 : clamp(1.0625rem, 0.9286rem + 0.4286vw, 1.25rem);
$clamp-18-16 : clamp(1rem, 0.9107rem + 0.2857vw, 1.125rem);
$clamp-16-14 : clamp(0.875rem, 0.7857rem + 0.2857vw, 1rem);
